################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ColorPickerExtraDemo/obj
/ColorPickerExtraDemo/bin/Debug/netcoreapp3.1
/ColorPickerExtraLib/bin/Debug
/ColorPickerExtraLib/obj/Debug
/ColorPickerExtraLib/obj
/ColorPickerExtraDemo/bin/Release/netcoreapp3.1
/ColorPickerExtraLib/bin/Release
/ColorPickerExtraTester
